* {
    font-family: 'Inter', sans-serif;
}

.tab-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #F2994B;
    padding-top: 60px;
    transition: 0.3s ease-in-out;
    transform: translateX(-100%);
    z-index: 1000;
}

.tab-menu.open {
    transform: translateX(0);
}

.tab-menu h1 {
    padding: 15px;
    font-size: 18px;
    color: white;
}

.tab-menu h1:hover {
    padding: 15px;
    font-size: 18px;
    color: black;
}

.tab-menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    color: white;
}

.tab-menu a:hover {
    background-color: #4EA68D;
    color: black;
}
