.navBar {
    background-color: #4EA68D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 60px;
    border-radius: 10px;
}

.navBar a {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    color: white;
}

.navBar a:hover {
    background-color: #4EA68D;
    color: black;
}

.hamburger-icon {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}

.hamburger-icon span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: white;
    transition: 0.4s;
}

/* Sidebar Menu */
.tab-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #F2994B;
    padding-top: 60px;
    transition: transform 0.3s;
    transform: translateX(-100%);
    z-index: 1000;
}

.tab-menu.open {
    transform: translateX(0);
}

/* Dropdown Profile */
.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
