body {
    font-family: 'Inter', sans-serif; /* ใช้ฟอนต์ Inter */
}

.Aform {
    background-color: white;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 30rem;
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.box1 {
    margin-right: 2rem;
}

.text-in-dropdown {
    left: 0;
}

.select-product {
    margin-top: 1rem;
}

.select-lot {
    margin-top: 1rem;
}

.quantity {
    margin-top: 1rem;
}

.unit {
    margin-top: 1rem;
}

.expiration-date {
    margin-top: 1rem;
}

.button-19 {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    margin-top: 1rem;
}

.button-19:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button-19,
.button-19:focus {
    user-select: auto;
}

.button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.button-19:disabled {
    cursor: auto;
}

.button-19:active {
    border-width: 4px 0 0;
    background: none;
}

.button-20 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%; /* ปรับให้เต็มความกว้าง */
    height: 50px; /* ความสูงของปุ่ม */
    background: linear-gradient(0deg, #4EA68D, #4EA68D);
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px; /* ขนาดตัวอักษร */
    text-align: center;
    border: none; /* ไม่มีขอบ */
    border-radius: 10px; /* มุมโค้ง */
    cursor: pointer; /* เปลี่ยนเคอร์เซอร์ */
    margin-top: 20px; /* ระยะห่างระหว่างปุ่มและส่วนอื่น ๆ */
}

/* เปลี่ยนสีเมื่อชี้ */
.button-20:hover {
    background: linear-gradient(0deg, #3A8B6F, #3A8B6F);
}