<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worker Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown_profile.css') }}">
</head>
<body>
    <!-- แถบด้านบนที่มีข้อความ Home และไอคอนเมนู -->
    <div class="navbar">
        <h1>Home</h1>
        <div class="dropdown">
            <img src="{{ current_user.employee.employee_image }}" alt="Profile Image" class="user-icon">
        
            <div class="dropdown-content">
                <a href="#">Name: {{ current_user.employee.employee_fname }} {{ current_user.employee.employee_lname }}</a>
                <a href="{{ url_for('auth.view_profile') }}">View Profile</a>
                <a href="{{ url_for('auth.logout') }}">Sign Out</a>
            </div>
        </div>
    </div>
    
    <h2>Welcome to the Worker Dashboard!</h2>

    <h2>Request</h2>
    <ul>
        <li><a href="{{ url_for('request.add_request') }}">Request Food</a></li>
        <li><a href="{{ url_for('request.view_history') }}">Request History</a></li>
    </ul>

</body>
</html>
