<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown_profile.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="navbar">
        <h1>Order Details: {{ order.order_id }}</h1>
        <div class="dropdown">
            <img src="{{ current_user.employee.employee_image }}" alt="Profile Image" class="user-icon">
        
            <div class="dropdown-content">
                <a href="#">Name: {{ current_user.employee.employee_fname }} {{ current_user.employee.employee_lname }}</a>
                <a href="{{ url_for('auth.view_profile') }}">View Profile</a>
                <a href="{{ url_for('auth.logout') }}">Sign Out</a>
            </div>
        </div>
    </div>

    <h2></h2>
    <p></p>

    <div class="container mt-4">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Lot ID</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order_items %}
                <tr>
                    <td>{{ item.product.product_name }}</td> <!-- แสดงชื่อสินค้า -->
                    <td>{{ item.product_quantity }}</td>
                    <td>{{ item.product_unit }}</td>
                    <td>{{ item.lot_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>    
    </div>
</body>
</html>
